@import url('./normilize.css');

@font-face {
    font-family: Poppins-Bold;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Regular;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

.container {
    font-family: Poppins-Bold;
    width: 100vw;
    min-height: 100vh;
    background-color: #6f6e6e6d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    background-color: white;
    padding: 50px;
    margin: 30px;
    border-radius: 1rem 1rem 5rem 1rem;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.588);
}

.input-block {
    position: relative;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
}

.input-block label {
    font-size: 15px;
    letter-spacing: 3px;
    color: grey;
}

.input-block input {
    background-color: transparent;
    position: relative;
    z-index: 1;
    max-width: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 10px;
    font-size: 25px;
}

.input-block .error-mess {
    color: rgb(188, 83, 57);
    font-size: 12px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    position: absolute;
}

.input-block.mistakes input {
    border-color: transparent;
    outline: 1px solid rgb(188, 83, 57);
}

.input-block.mistakes input:focus {
    outline: 2px solid rgb(188, 83, 57);
}

.input-block.mistakes label {
    color: rgb(188, 83, 57);
}

.input-btn {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.grey-line {
    height: 2px;
    width: 50px;
    background-color: rgb(225, 220, 220);
    flex-grow: 1;
}

.submit-btn {
    background-color: #864CFF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease;
}

.submit-btn img {
    transition: transform.2s ease;
}

.submit-btn:hover {
    background-color: #854cffa8;
}

.submit-btn:hover img {
    transform: translateY(10px);
}

.common-error {
    position: absolute;
    color: rgb(188, 83, 57);
    margin-top: 50px;
    font-family: Poppins-Regular;
    font-size: 16px;
}

.custom-output {
    font-family: Poppins-Bold;
    font-size: 80px;
    line-height: 120%;
}

.custom-output div {
    color: #864CFF;
    margin-right: 20px;
    display: inline;
}

@media (max-width: 550px) {
    .custom-output {
        font-size: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 100%;
        margin-bottom: 20px;
    }
}